#elemento1{
    background-color: lightblue;
    padding: 200px;
    border-radius: 20px;
    font-size: 30px;
    color: navy;

    transform: translate3d(1%, -50%);
    animation: mover 2s linear infinite alternate;
}@keyframes mover {
    from{
        transform: translate3d(-5%, -5%) rotate(360deg);
        /*posicao final*/
    }
}
