#elemento1 {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    color: navy;



    transform: translate(1%, -50%);
    animation: mover 2s linear infinite alternate;




    mover {
        from {
            transform: translate (-10%, -5%) rotate (0deg);



        }


        to {
            transform: translate(-5%, -5%) rotate(360deg);

        }
    }
}