#elemento1{
    background-color: lightblue;
    padding: 200px;
    border-radius: 120px;
    font-size: 30px;
    color: green;
    transform: translate3d(1%, -50%);
    animation: mover 2s linear infinite alternate;
}
    #elemento2{color: chartreuse;

    }
@keyframes mover {
    from{
        transform: translate(-5%, -5%) rotate(20deg);
        /*posicao final*/
    }

    to{ transform: translate(-50%, -5%) rotate (360deg);
    }


}
